$primary-color-green: #95bd5f;
$primary-color-green-light: #84a952;
$primary-color-blue: #00a3d6;

$secondary-color-blue: #4b5663;
$secondary-color-white: #eae9e7;
$secondary-color-gray: #c9c9c9;
$secondary-color-gray-light: #c2c1c1;

$color-white: #fff;
$color-gray: #333;
$color-black: #000;

$bg-color:  #f5f4f9;
$button-color: #0598c6;
$shadow-color: #d4d3d3;
