@import './variables';

.about {
  background: $bg-color;
}

.shadow {
  box-shadow: 13px 8px 30px $shadow-color;
}

.about-title {
  h1 {
    color: $secondary-color-gray;
    font-family: BrandonBlack;
    font-size: 3.25rem;
    letter-spacing: 3px;
    text-transform: uppercase;
  }

  span {
    color: $primary-color-blue;
  }
}

.about-content {
  p {
    color: $secondary-color-blue;
    text-align: justify;
  }
}

.about-img {
  opacity: 0;
  transform: scale(.75);
  transition: .5s;

  &>div {
    background: url('../images/about.jpg') center no-repeat;
    background-size: cover;
    height: auto;
    min-height: 90%;
  }
}


.aboutme-img {
  height: auto;
  min-height: 90%;
  overflow: hidden;
  transform: scale(.75);
}

.ripple-effect {
  height: 100%;
  position: relative;

  &:hover>.wave {
    animation: ripple-in 2s;
  }
}

.wave {
  background-color: $color-black;
  bottom: 0;
  height: 0;
  left: 0;
  opacity: .5;
  position: absolute;
  transform: scale(0);
  width: 0;
}

@keyframes ripple-in {
  0% {
    transform: scaleX(0);
  }

  90% {
    background-color: $color-white;
    height: 100%;
    opacity: .3;
    transform: scaleX(1);
    width: 100%;
  }

  100% {
    opacity: 0;
    transform: scaleX(0);
  }
}

@media (min-width: 1200px) {
  .about-img>div {
    background-position: -40px;
  }
}

@media only screen and (max-width: 1100px) {
  .about-img>div {
    background-position: -70px;
  }
}

@media (max-width: 991px) {
  .about-img>div {
    background-position: 0 0;
    background-size: 100%;
    height: 360px;
    margin-bottom: 20px;
  }
}

@media (max-width: 767px) {
  .about-img>div {
    background-size: 110%;
  }
}

@media (max-width: 676px) {
  .about {
    inner-cont {
      padding: 0;
    }
  }
}

@media (max-width: 575px) {
  .about-img>div {
    background-size: 120%;
  }
}

@media (max-width: 550px) {
  .about-img>div {
    background-size: 130%;
  }
}

@media (max-width: 450px) {
  .about-img>div {
    background-size: 160%;
  }

  .about-title {
    font-size: 2.5px;

    h1 {
      font-size: 2.25rem;
    }
  }
}

@media (max-width: 360px) {
  .about-img>div {
    background-size: 172%;
  }
}