@import './variables';

.resume {
  align-items: center;
  background-color: $bg-color;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  padding: 0 30px;
}

.resume-title {
  color: $primary-color-blue;
  font-family: BrandonBlack;
  font-size: 3.5rem;
  text-transform: uppercase;
}

.job-info {
  height: 160px;
  position: absolute;
  width: 27%;

  .duration {
    border-bottom: 1px solid $primary-color-blue;
    color: $primary-color-blue;
    display: inline-block;

    &.green {

      border-bottom: 1px solid $primary-color-green;
      color: $primary-color-green;
    }
  }

  span {
    color: $primary-color-green;
    font-family: BrandonBlack;
    text-transform: uppercase;

    &.blue {
      color: $primary-color-blue;
    }
  }

  p {
    color: $secondary-color-blue;
  }

  &:nth-child(1) {
    right: 29%;
  }

  &:nth-child(2) {
    right: 12%;
    top: 200px;
  }

  &:nth-child(3) {
    right: -86px;
    top: 395px;
  }

  &:nth-child(4) {
    top: 205px;
  }

  &:nth-child(5) {
    right: 56.3%;
    top: 400px;
  }

  &:nth-child(6) {
    right: 33.5%;
    top: 560px;
  }
}

.jobs {
  min-height: 670px;
  position: relative;
}

.job-title {
  color: $secondary-color-blue;
  font-family: BrandonBold;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.side-blobks {
  &.green {
    left: 49%;
    position: absolute;
    top: -20%;
    transform: rotatez(-50deg);
  }

  &.blue {
    left: 45%;
    position: absolute;
    top: -10%;
    transform: rotatez(-50deg);
  }

  img {
    margin-bottom: 5px;
    margin-left: -23px;
    transform: rotatez(50deg);
    width: 46px;
  }
}

.sm-line {
  border-left: 2px dashed $primary-color-green;
  height: 70px;
}

.lg-line {
  border-left: 2px dashed $primary-color-green;
  height: 229px;
}

.block {
  background-color: $primary-color-green;
  height: 40px;
  margin-left: -20px;
  width: 40px;
}


.blue {

  .lg-line,
  .sm-line {
    border-left-color: $primary-color-blue;
  }

  .block {
    background-color: $primary-color-blue;
  }
}


@media only screen and (max-width: 1100px) {
  .side-blobks {
    &.green {
      left: 50%;
      top: -15%;
      transform: rotatez(-41deg);
    }

    &.blue {
      left: 46%;
      top: -7%;
      transform: rotatez(-41deg);
    }
  }

  .lg-line {
    height: 194px !important;
  }
}

@media (max-width: 991px) {
  .resume {
    .sec-cont {
      margin-top: 0 !important;
    }
  }
}

@media (max-width: 767px) {
  .side-blobks {
    &.green {
      left: 20px;
      right: auto;
      top: -74px;
      transform: rotateZ(0);
    }

    &.blue {
      left: auto;
      right: 20px;
      top: 425px;
      transform: rotateZ(0);
    }

    img {
      transform: rotateZ(0);
    }

    .d-s-none {
      display: none;
    }
  }

  .sm-line {
    height: 34px;
  }

  .lg-line {
    height: 120px !important;
  }

  .job-info {
    position: relative;

    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3) {
      left: 60px;
      right: auto;
      top: auto;
      width: 84%;
    }

    &:nth-child(4),
    &:nth-child(5),
    &:nth-child(6) {
      left: auto;
      right: 0;
      top: auto;
      width: 84%;
    }
  }

  .resume {
    margin-bottom: 80px;
    padding: 0;
  }
}

@media (max-width: 676px) {
  .resume {
    display: block;
    text-align: center;
  }
}

@media (max-width: 450px) {
  .side-blobks {
    &.blue {
      right: 0;
    }
  }
}
