.side-social {
  position: fixed;

  ul {
    li {
      display: block;
      margin-bottom: 35px;
    }
  }

  a {
    &:hover>img {
      transform: scale(1.5);
      transition: .7s;
    }
  }

  img {
    width: 26px;
  }
}

@media (max-width: 991px) {
  .side-social {
    bottom: -40px;
    left: 40%;
    margin-bottom: 20px;
    position: fixed;
    width: 55%;
    z-index: 15;

    ul {
      display: flex;
      justify-content: space-between;

      li {
        margin-bottom: 0;
      }
    }

    img {
      width: 26px;
    }
  }
}

@media (max-width: 676px) {
  .side-social {
    right: 20px;
    width: auto;
  }
}

@media (max-width: 575px) {
  .side-social {
    left: 20px;
  }
}
