.position_0_0:not(.isMoving) {
  top: 5px;
  left: 5px; }

.position_0_1:not(.isMoving) {
  top: 5px;
  left: 57px; }

.position_0_2:not(.isMoving) {
  top: 5px;
  left: 109px; }

.position_0_3:not(.isMoving) {
  top: 5px;
  left: 161px; }

.position_0_4:not(.isMoving) {
  top: 5px;
  left: 213px; }

.position_0_5:not(.isMoving) {
  top: 5px;
  left: 265px; }

.position_0_6:not(.isMoving) {
  top: 5px;
  left: 317px; }

.position_0_7:not(.isMoving) {
  top: 5px;
  left: 369px; }

.position_0_8:not(.isMoving) {
  top: 5px;
  left: 421px; }

.position_0_9:not(.isMoving) {
  top: 5px;
  left: 473px; }

.position_0_10:not(.isMoving) {
  top: 5px;
  left: 525px; }

.position_1_0:not(.isMoving) {
  top: 57px;
  left: 5px; }

.position_1_1:not(.isMoving) {
  top: 57px;
  left: 57px; }

.position_1_2:not(.isMoving) {
  top: 57px;
  left: 109px; }

.position_1_3:not(.isMoving) {
  top: 57px;
  left: 161px; }

.position_1_4:not(.isMoving) {
  top: 57px;
  left: 213px; }

.position_1_5:not(.isMoving) {
  top: 57px;
  left: 265px; }

.position_1_6:not(.isMoving) {
  top: 57px;
  left: 317px; }

.position_1_7:not(.isMoving) {
  top: 57px;
  left: 369px; }

.position_1_8:not(.isMoving) {
  top: 57px;
  left: 421px; }

.position_1_9:not(.isMoving) {
  top: 57px;
  left: 473px; }

.position_1_10:not(.isMoving) {
  top: 57px;
  left: 525px; }

.position_2_0:not(.isMoving) {
  top: 109px;
  left: 5px; }

.position_2_1:not(.isMoving) {
  top: 109px;
  left: 57px; }

.position_2_2:not(.isMoving) {
  top: 109px;
  left: 109px; }

.position_2_3:not(.isMoving) {
  top: 109px;
  left: 161px; }

.position_2_4:not(.isMoving) {
  top: 109px;
  left: 213px; }

.position_2_5:not(.isMoving) {
  top: 109px;
  left: 265px; }

.position_2_6:not(.isMoving) {
  top: 109px;
  left: 317px; }

.position_2_7:not(.isMoving) {
  top: 109px;
  left: 369px; }

.position_2_8:not(.isMoving) {
  top: 109px;
  left: 421px; }

.position_2_9:not(.isMoving) {
  top: 109px;
  left: 473px; }

.position_2_10:not(.isMoving) {
  top: 109px;
  left: 525px; }

.position_3_0:not(.isMoving) {
  top: 161px;
  left: 5px; }

.position_3_1:not(.isMoving) {
  top: 161px;
  left: 57px; }

.position_3_2:not(.isMoving) {
  top: 161px;
  left: 109px; }

.position_3_3:not(.isMoving) {
  top: 161px;
  left: 161px; }

.position_3_4:not(.isMoving) {
  top: 161px;
  left: 213px; }

.position_3_5:not(.isMoving) {
  top: 161px;
  left: 265px; }

.position_3_6:not(.isMoving) {
  top: 161px;
  left: 317px; }

.position_3_7:not(.isMoving) {
  top: 161px;
  left: 369px; }

.position_3_8:not(.isMoving) {
  top: 161px;
  left: 421px; }

.position_3_9:not(.isMoving) {
  top: 161px;
  left: 473px; }

.position_3_10:not(.isMoving) {
  top: 161px;
  left: 525px; }

.position_4_0:not(.isMoving) {
  top: 213px;
  left: 5px; }

.position_4_1:not(.isMoving) {
  top: 213px;
  left: 57px; }

.position_4_2:not(.isMoving) {
  top: 213px;
  left: 109px; }

.position_4_3:not(.isMoving) {
  top: 213px;
  left: 161px; }

.position_4_4:not(.isMoving) {
  top: 213px;
  left: 213px; }

.position_4_5:not(.isMoving) {
  top: 213px;
  left: 265px; }

.position_4_6:not(.isMoving) {
  top: 213px;
  left: 317px; }

.position_4_7:not(.isMoving) {
  top: 213px;
  left: 369px; }

.position_4_8:not(.isMoving) {
  top: 213px;
  left: 421px; }

.position_4_9:not(.isMoving) {
  top: 213px;
  left: 473px; }

.position_4_10:not(.isMoving) {
  top: 213px;
  left: 525px; }

.position_5_0:not(.isMoving) {
  top: 265px;
  left: 5px; }

.position_5_1:not(.isMoving) {
  top: 265px;
  left: 57px; }

.position_5_2:not(.isMoving) {
  top: 265px;
  left: 109px; }

.position_5_3:not(.isMoving) {
  top: 265px;
  left: 161px; }

.position_5_4:not(.isMoving) {
  top: 265px;
  left: 213px; }

.position_5_5:not(.isMoving) {
  top: 265px;
  left: 265px; }

.position_5_6:not(.isMoving) {
  top: 265px;
  left: 317px; }

.position_5_7:not(.isMoving) {
  top: 265px;
  left: 369px; }

.position_5_8:not(.isMoving) {
  top: 265px;
  left: 421px; }

.position_5_9:not(.isMoving) {
  top: 265px;
  left: 473px; }

.position_5_10:not(.isMoving) {
  top: 265px;
  left: 525px; }

.position_6_0:not(.isMoving) {
  top: 317px;
  left: 5px; }

.position_6_1:not(.isMoving) {
  top: 317px;
  left: 57px; }

.position_6_2:not(.isMoving) {
  top: 317px;
  left: 109px; }

.position_6_3:not(.isMoving) {
  top: 317px;
  left: 161px; }

.position_6_4:not(.isMoving) {
  top: 317px;
  left: 213px; }

.position_6_5:not(.isMoving) {
  top: 317px;
  left: 265px; }

.position_6_6:not(.isMoving) {
  top: 317px;
  left: 317px; }

.position_6_7:not(.isMoving) {
  top: 317px;
  left: 369px; }

.position_6_8:not(.isMoving) {
  top: 317px;
  left: 421px; }

.position_6_9:not(.isMoving) {
  top: 317px;
  left: 473px; }

.position_6_10:not(.isMoving) {
  top: 317px;
  left: 525px; }

.position_7_0:not(.isMoving) {
  top: 369px;
  left: 5px; }

.position_7_1:not(.isMoving) {
  top: 369px;
  left: 57px; }

.position_7_2:not(.isMoving) {
  top: 369px;
  left: 109px; }

.position_7_3:not(.isMoving) {
  top: 369px;
  left: 161px; }

.position_7_4:not(.isMoving) {
  top: 369px;
  left: 213px; }

.position_7_5:not(.isMoving) {
  top: 369px;
  left: 265px; }

.position_7_6:not(.isMoving) {
  top: 369px;
  left: 317px; }

.position_7_7:not(.isMoving) {
  top: 369px;
  left: 369px; }

.position_7_8:not(.isMoving) {
  top: 369px;
  left: 421px; }

.position_7_9:not(.isMoving) {
  top: 369px;
  left: 473px; }

.position_7_10:not(.isMoving) {
  top: 369px;
  left: 525px; }

.position_8_0:not(.isMoving) {
  top: 421px;
  left: 5px; }

.position_8_1:not(.isMoving) {
  top: 421px;
  left: 57px; }

.position_8_2:not(.isMoving) {
  top: 421px;
  left: 109px; }

.position_8_3:not(.isMoving) {
  top: 421px;
  left: 161px; }

.position_8_4:not(.isMoving) {
  top: 421px;
  left: 213px; }

.position_8_5:not(.isMoving) {
  top: 421px;
  left: 265px; }

.position_8_6:not(.isMoving) {
  top: 421px;
  left: 317px; }

.position_8_7:not(.isMoving) {
  top: 421px;
  left: 369px; }

.position_8_8:not(.isMoving) {
  top: 421px;
  left: 421px; }

.position_8_9:not(.isMoving) {
  top: 421px;
  left: 473px; }

.position_8_10:not(.isMoving) {
  top: 421px;
  left: 525px; }

.position_9_0:not(.isMoving) {
  top: 473px;
  left: 5px; }

.position_9_1:not(.isMoving) {
  top: 473px;
  left: 57px; }

.position_9_2:not(.isMoving) {
  top: 473px;
  left: 109px; }

.position_9_3:not(.isMoving) {
  top: 473px;
  left: 161px; }

.position_9_4:not(.isMoving) {
  top: 473px;
  left: 213px; }

.position_9_5:not(.isMoving) {
  top: 473px;
  left: 265px; }

.position_9_6:not(.isMoving) {
  top: 473px;
  left: 317px; }

.position_9_7:not(.isMoving) {
  top: 473px;
  left: 369px; }

.position_9_8:not(.isMoving) {
  top: 473px;
  left: 421px; }

.position_9_9:not(.isMoving) {
  top: 473px;
  left: 473px; }

.position_9_10:not(.isMoving) {
  top: 473px;
  left: 525px; }

.position_10_0:not(.isMoving) {
  top: 525px;
  left: 5px; }

.position_10_1:not(.isMoving) {
  top: 525px;
  left: 57px; }

.position_10_2:not(.isMoving) {
  top: 525px;
  left: 109px; }

.position_10_3:not(.isMoving) {
  top: 525px;
  left: 161px; }

.position_10_4:not(.isMoving) {
  top: 525px;
  left: 213px; }

.position_10_5:not(.isMoving) {
  top: 525px;
  left: 265px; }

.position_10_6:not(.isMoving) {
  top: 525px;
  left: 317px; }

.position_10_7:not(.isMoving) {
  top: 525px;
  left: 369px; }

.position_10_8:not(.isMoving) {
  top: 525px;
  left: 421px; }

.position_10_9:not(.isMoving) {
  top: 525px;
  left: 473px; }

.position_10_10:not(.isMoving) {
  top: 525px;
  left: 525px; }

.row_from_0_to_0 {
  top: 5px; }

.row_from_0_to_1 {
  animation-duration: 0.20s;
  animation-name: row_from_0_to_1;
  animation-fill-mode: forwards; }

@keyframes row_from_0_to_1 {
  from {
    top: 5px; }
  to {
    top: 57px; } }

.row_from_0_to_2 {
  animation-duration: 0.20s;
  animation-name: row_from_0_to_2;
  animation-fill-mode: forwards; }

@keyframes row_from_0_to_2 {
  from {
    top: 5px; }
  to {
    top: 109px; } }

.row_from_0_to_3 {
  animation-duration: 0.20s;
  animation-name: row_from_0_to_3;
  animation-fill-mode: forwards; }

@keyframes row_from_0_to_3 {
  from {
    top: 5px; }
  to {
    top: 161px; } }

.row_from_0_to_4 {
  animation-duration: 0.20s;
  animation-name: row_from_0_to_4;
  animation-fill-mode: forwards; }

@keyframes row_from_0_to_4 {
  from {
    top: 5px; }
  to {
    top: 213px; } }

.row_from_0_to_5 {
  animation-duration: 0.20s;
  animation-name: row_from_0_to_5;
  animation-fill-mode: forwards; }

@keyframes row_from_0_to_5 {
  from {
    top: 5px; }
  to {
    top: 265px; } }

.row_from_0_to_6 {
  animation-duration: 0.20s;
  animation-name: row_from_0_to_6;
  animation-fill-mode: forwards; }

@keyframes row_from_0_to_6 {
  from {
    top: 5px; }
  to {
    top: 317px; } }

.row_from_0_to_7 {
  animation-duration: 0.20s;
  animation-name: row_from_0_to_7;
  animation-fill-mode: forwards; }

@keyframes row_from_0_to_7 {
  from {
    top: 5px; }
  to {
    top: 369px; } }

.row_from_0_to_8 {
  animation-duration: 0.20s;
  animation-name: row_from_0_to_8;
  animation-fill-mode: forwards; }

@keyframes row_from_0_to_8 {
  from {
    top: 5px; }
  to {
    top: 421px; } }

.row_from_0_to_9 {
  animation-duration: 0.20s;
  animation-name: row_from_0_to_9;
  animation-fill-mode: forwards; }

@keyframes row_from_0_to_9 {
  from {
    top: 5px; }
  to {
    top: 473px; } }

.row_from_0_to_10 {
  animation-duration: 0.20s;
  animation-name: row_from_0_to_10;
  animation-fill-mode: forwards; }

@keyframes row_from_0_to_10 {
  from {
    top: 5px; }
  to {
    top: 525px; } }

.row_from_1_to_0 {
  animation-duration: 0.20s;
  animation-name: row_from_1_to_0;
  animation-fill-mode: forwards; }

@keyframes row_from_1_to_0 {
  from {
    top: 57px; }
  to {
    top: 5px; } }

.row_from_1_to_1 {
  top: 57px; }

.row_from_1_to_2 {
  animation-duration: 0.20s;
  animation-name: row_from_1_to_2;
  animation-fill-mode: forwards; }

@keyframes row_from_1_to_2 {
  from {
    top: 57px; }
  to {
    top: 109px; } }

.row_from_1_to_3 {
  animation-duration: 0.20s;
  animation-name: row_from_1_to_3;
  animation-fill-mode: forwards; }

@keyframes row_from_1_to_3 {
  from {
    top: 57px; }
  to {
    top: 161px; } }

.row_from_1_to_4 {
  animation-duration: 0.20s;
  animation-name: row_from_1_to_4;
  animation-fill-mode: forwards; }

@keyframes row_from_1_to_4 {
  from {
    top: 57px; }
  to {
    top: 213px; } }

.row_from_1_to_5 {
  animation-duration: 0.20s;
  animation-name: row_from_1_to_5;
  animation-fill-mode: forwards; }

@keyframes row_from_1_to_5 {
  from {
    top: 57px; }
  to {
    top: 265px; } }

.row_from_1_to_6 {
  animation-duration: 0.20s;
  animation-name: row_from_1_to_6;
  animation-fill-mode: forwards; }

@keyframes row_from_1_to_6 {
  from {
    top: 57px; }
  to {
    top: 317px; } }

.row_from_1_to_7 {
  animation-duration: 0.20s;
  animation-name: row_from_1_to_7;
  animation-fill-mode: forwards; }

@keyframes row_from_1_to_7 {
  from {
    top: 57px; }
  to {
    top: 369px; } }

.row_from_1_to_8 {
  animation-duration: 0.20s;
  animation-name: row_from_1_to_8;
  animation-fill-mode: forwards; }

@keyframes row_from_1_to_8 {
  from {
    top: 57px; }
  to {
    top: 421px; } }

.row_from_1_to_9 {
  animation-duration: 0.20s;
  animation-name: row_from_1_to_9;
  animation-fill-mode: forwards; }

@keyframes row_from_1_to_9 {
  from {
    top: 57px; }
  to {
    top: 473px; } }

.row_from_1_to_10 {
  animation-duration: 0.20s;
  animation-name: row_from_1_to_10;
  animation-fill-mode: forwards; }

@keyframes row_from_1_to_10 {
  from {
    top: 57px; }
  to {
    top: 525px; } }

.row_from_2_to_0 {
  animation-duration: 0.20s;
  animation-name: row_from_2_to_0;
  animation-fill-mode: forwards; }

@keyframes row_from_2_to_0 {
  from {
    top: 109px; }
  to {
    top: 5px; } }

.row_from_2_to_1 {
  animation-duration: 0.20s;
  animation-name: row_from_2_to_1;
  animation-fill-mode: forwards; }

@keyframes row_from_2_to_1 {
  from {
    top: 109px; }
  to {
    top: 57px; } }

.row_from_2_to_2 {
  top: 109px; }

.row_from_2_to_3 {
  animation-duration: 0.20s;
  animation-name: row_from_2_to_3;
  animation-fill-mode: forwards; }

@keyframes row_from_2_to_3 {
  from {
    top: 109px; }
  to {
    top: 161px; } }

.row_from_2_to_4 {
  animation-duration: 0.20s;
  animation-name: row_from_2_to_4;
  animation-fill-mode: forwards; }

@keyframes row_from_2_to_4 {
  from {
    top: 109px; }
  to {
    top: 213px; } }

.row_from_2_to_5 {
  animation-duration: 0.20s;
  animation-name: row_from_2_to_5;
  animation-fill-mode: forwards; }

@keyframes row_from_2_to_5 {
  from {
    top: 109px; }
  to {
    top: 265px; } }

.row_from_2_to_6 {
  animation-duration: 0.20s;
  animation-name: row_from_2_to_6;
  animation-fill-mode: forwards; }

@keyframes row_from_2_to_6 {
  from {
    top: 109px; }
  to {
    top: 317px; } }

.row_from_2_to_7 {
  animation-duration: 0.20s;
  animation-name: row_from_2_to_7;
  animation-fill-mode: forwards; }

@keyframes row_from_2_to_7 {
  from {
    top: 109px; }
  to {
    top: 369px; } }

.row_from_2_to_8 {
  animation-duration: 0.20s;
  animation-name: row_from_2_to_8;
  animation-fill-mode: forwards; }

@keyframes row_from_2_to_8 {
  from {
    top: 109px; }
  to {
    top: 421px; } }

.row_from_2_to_9 {
  animation-duration: 0.20s;
  animation-name: row_from_2_to_9;
  animation-fill-mode: forwards; }

@keyframes row_from_2_to_9 {
  from {
    top: 109px; }
  to {
    top: 473px; } }

.row_from_2_to_10 {
  animation-duration: 0.20s;
  animation-name: row_from_2_to_10;
  animation-fill-mode: forwards; }

@keyframes row_from_2_to_10 {
  from {
    top: 109px; }
  to {
    top: 525px; } }

.row_from_3_to_0 {
  animation-duration: 0.20s;
  animation-name: row_from_3_to_0;
  animation-fill-mode: forwards; }

@keyframes row_from_3_to_0 {
  from {
    top: 161px; }
  to {
    top: 5px; } }

.row_from_3_to_1 {
  animation-duration: 0.20s;
  animation-name: row_from_3_to_1;
  animation-fill-mode: forwards; }

@keyframes row_from_3_to_1 {
  from {
    top: 161px; }
  to {
    top: 57px; } }

.row_from_3_to_2 {
  animation-duration: 0.20s;
  animation-name: row_from_3_to_2;
  animation-fill-mode: forwards; }

@keyframes row_from_3_to_2 {
  from {
    top: 161px; }
  to {
    top: 109px; } }

.row_from_3_to_3 {
  top: 161px; }

.row_from_3_to_4 {
  animation-duration: 0.20s;
  animation-name: row_from_3_to_4;
  animation-fill-mode: forwards; }

@keyframes row_from_3_to_4 {
  from {
    top: 161px; }
  to {
    top: 213px; } }

.row_from_3_to_5 {
  animation-duration: 0.20s;
  animation-name: row_from_3_to_5;
  animation-fill-mode: forwards; }

@keyframes row_from_3_to_5 {
  from {
    top: 161px; }
  to {
    top: 265px; } }

.row_from_3_to_6 {
  animation-duration: 0.20s;
  animation-name: row_from_3_to_6;
  animation-fill-mode: forwards; }

@keyframes row_from_3_to_6 {
  from {
    top: 161px; }
  to {
    top: 317px; } }

.row_from_3_to_7 {
  animation-duration: 0.20s;
  animation-name: row_from_3_to_7;
  animation-fill-mode: forwards; }

@keyframes row_from_3_to_7 {
  from {
    top: 161px; }
  to {
    top: 369px; } }

.row_from_3_to_8 {
  animation-duration: 0.20s;
  animation-name: row_from_3_to_8;
  animation-fill-mode: forwards; }

@keyframes row_from_3_to_8 {
  from {
    top: 161px; }
  to {
    top: 421px; } }

.row_from_3_to_9 {
  animation-duration: 0.20s;
  animation-name: row_from_3_to_9;
  animation-fill-mode: forwards; }

@keyframes row_from_3_to_9 {
  from {
    top: 161px; }
  to {
    top: 473px; } }

.row_from_3_to_10 {
  animation-duration: 0.20s;
  animation-name: row_from_3_to_10;
  animation-fill-mode: forwards; }

@keyframes row_from_3_to_10 {
  from {
    top: 161px; }
  to {
    top: 525px; } }

.row_from_4_to_0 {
  animation-duration: 0.20s;
  animation-name: row_from_4_to_0;
  animation-fill-mode: forwards; }

@keyframes row_from_4_to_0 {
  from {
    top: 213px; }
  to {
    top: 5px; } }

.row_from_4_to_1 {
  animation-duration: 0.20s;
  animation-name: row_from_4_to_1;
  animation-fill-mode: forwards; }

@keyframes row_from_4_to_1 {
  from {
    top: 213px; }
  to {
    top: 57px; } }

.row_from_4_to_2 {
  animation-duration: 0.20s;
  animation-name: row_from_4_to_2;
  animation-fill-mode: forwards; }

@keyframes row_from_4_to_2 {
  from {
    top: 213px; }
  to {
    top: 109px; } }

.row_from_4_to_3 {
  animation-duration: 0.20s;
  animation-name: row_from_4_to_3;
  animation-fill-mode: forwards; }

@keyframes row_from_4_to_3 {
  from {
    top: 213px; }
  to {
    top: 161px; } }

.row_from_4_to_4 {
  top: 213px; }

.row_from_4_to_5 {
  animation-duration: 0.20s;
  animation-name: row_from_4_to_5;
  animation-fill-mode: forwards; }

@keyframes row_from_4_to_5 {
  from {
    top: 213px; }
  to {
    top: 265px; } }

.row_from_4_to_6 {
  animation-duration: 0.20s;
  animation-name: row_from_4_to_6;
  animation-fill-mode: forwards; }

@keyframes row_from_4_to_6 {
  from {
    top: 213px; }
  to {
    top: 317px; } }

.row_from_4_to_7 {
  animation-duration: 0.20s;
  animation-name: row_from_4_to_7;
  animation-fill-mode: forwards; }

@keyframes row_from_4_to_7 {
  from {
    top: 213px; }
  to {
    top: 369px; } }

.row_from_4_to_8 {
  animation-duration: 0.20s;
  animation-name: row_from_4_to_8;
  animation-fill-mode: forwards; }

@keyframes row_from_4_to_8 {
  from {
    top: 213px; }
  to {
    top: 421px; } }

.row_from_4_to_9 {
  animation-duration: 0.20s;
  animation-name: row_from_4_to_9;
  animation-fill-mode: forwards; }

@keyframes row_from_4_to_9 {
  from {
    top: 213px; }
  to {
    top: 473px; } }

.row_from_4_to_10 {
  animation-duration: 0.20s;
  animation-name: row_from_4_to_10;
  animation-fill-mode: forwards; }

@keyframes row_from_4_to_10 {
  from {
    top: 213px; }
  to {
    top: 525px; } }

.row_from_5_to_0 {
  animation-duration: 0.20s;
  animation-name: row_from_5_to_0;
  animation-fill-mode: forwards; }

@keyframes row_from_5_to_0 {
  from {
    top: 265px; }
  to {
    top: 5px; } }

.row_from_5_to_1 {
  animation-duration: 0.20s;
  animation-name: row_from_5_to_1;
  animation-fill-mode: forwards; }

@keyframes row_from_5_to_1 {
  from {
    top: 265px; }
  to {
    top: 57px; } }

.row_from_5_to_2 {
  animation-duration: 0.20s;
  animation-name: row_from_5_to_2;
  animation-fill-mode: forwards; }

@keyframes row_from_5_to_2 {
  from {
    top: 265px; }
  to {
    top: 109px; } }

.row_from_5_to_3 {
  animation-duration: 0.20s;
  animation-name: row_from_5_to_3;
  animation-fill-mode: forwards; }

@keyframes row_from_5_to_3 {
  from {
    top: 265px; }
  to {
    top: 161px; } }

.row_from_5_to_4 {
  animation-duration: 0.20s;
  animation-name: row_from_5_to_4;
  animation-fill-mode: forwards; }

@keyframes row_from_5_to_4 {
  from {
    top: 265px; }
  to {
    top: 213px; } }

.row_from_5_to_5 {
  top: 265px; }

.row_from_5_to_6 {
  animation-duration: 0.20s;
  animation-name: row_from_5_to_6;
  animation-fill-mode: forwards; }

@keyframes row_from_5_to_6 {
  from {
    top: 265px; }
  to {
    top: 317px; } }

.row_from_5_to_7 {
  animation-duration: 0.20s;
  animation-name: row_from_5_to_7;
  animation-fill-mode: forwards; }

@keyframes row_from_5_to_7 {
  from {
    top: 265px; }
  to {
    top: 369px; } }

.row_from_5_to_8 {
  animation-duration: 0.20s;
  animation-name: row_from_5_to_8;
  animation-fill-mode: forwards; }

@keyframes row_from_5_to_8 {
  from {
    top: 265px; }
  to {
    top: 421px; } }

.row_from_5_to_9 {
  animation-duration: 0.20s;
  animation-name: row_from_5_to_9;
  animation-fill-mode: forwards; }

@keyframes row_from_5_to_9 {
  from {
    top: 265px; }
  to {
    top: 473px; } }

.row_from_5_to_10 {
  animation-duration: 0.20s;
  animation-name: row_from_5_to_10;
  animation-fill-mode: forwards; }

@keyframes row_from_5_to_10 {
  from {
    top: 265px; }
  to {
    top: 525px; } }

.row_from_6_to_0 {
  animation-duration: 0.20s;
  animation-name: row_from_6_to_0;
  animation-fill-mode: forwards; }

@keyframes row_from_6_to_0 {
  from {
    top: 317px; }
  to {
    top: 5px; } }

.row_from_6_to_1 {
  animation-duration: 0.20s;
  animation-name: row_from_6_to_1;
  animation-fill-mode: forwards; }

@keyframes row_from_6_to_1 {
  from {
    top: 317px; }
  to {
    top: 57px; } }

.row_from_6_to_2 {
  animation-duration: 0.20s;
  animation-name: row_from_6_to_2;
  animation-fill-mode: forwards; }

@keyframes row_from_6_to_2 {
  from {
    top: 317px; }
  to {
    top: 109px; } }

.row_from_6_to_3 {
  animation-duration: 0.20s;
  animation-name: row_from_6_to_3;
  animation-fill-mode: forwards; }

@keyframes row_from_6_to_3 {
  from {
    top: 317px; }
  to {
    top: 161px; } }

.row_from_6_to_4 {
  animation-duration: 0.20s;
  animation-name: row_from_6_to_4;
  animation-fill-mode: forwards; }

@keyframes row_from_6_to_4 {
  from {
    top: 317px; }
  to {
    top: 213px; } }

.row_from_6_to_5 {
  animation-duration: 0.20s;
  animation-name: row_from_6_to_5;
  animation-fill-mode: forwards; }

@keyframes row_from_6_to_5 {
  from {
    top: 317px; }
  to {
    top: 265px; } }

.row_from_6_to_6 {
  top: 317px; }

.row_from_6_to_7 {
  animation-duration: 0.20s;
  animation-name: row_from_6_to_7;
  animation-fill-mode: forwards; }

@keyframes row_from_6_to_7 {
  from {
    top: 317px; }
  to {
    top: 369px; } }

.row_from_6_to_8 {
  animation-duration: 0.20s;
  animation-name: row_from_6_to_8;
  animation-fill-mode: forwards; }

@keyframes row_from_6_to_8 {
  from {
    top: 317px; }
  to {
    top: 421px; } }

.row_from_6_to_9 {
  animation-duration: 0.20s;
  animation-name: row_from_6_to_9;
  animation-fill-mode: forwards; }

@keyframes row_from_6_to_9 {
  from {
    top: 317px; }
  to {
    top: 473px; } }

.row_from_6_to_10 {
  animation-duration: 0.20s;
  animation-name: row_from_6_to_10;
  animation-fill-mode: forwards; }

@keyframes row_from_6_to_10 {
  from {
    top: 317px; }
  to {
    top: 525px; } }

.row_from_7_to_0 {
  animation-duration: 0.20s;
  animation-name: row_from_7_to_0;
  animation-fill-mode: forwards; }

@keyframes row_from_7_to_0 {
  from {
    top: 369px; }
  to {
    top: 5px; } }

.row_from_7_to_1 {
  animation-duration: 0.20s;
  animation-name: row_from_7_to_1;
  animation-fill-mode: forwards; }

@keyframes row_from_7_to_1 {
  from {
    top: 369px; }
  to {
    top: 57px; } }

.row_from_7_to_2 {
  animation-duration: 0.20s;
  animation-name: row_from_7_to_2;
  animation-fill-mode: forwards; }

@keyframes row_from_7_to_2 {
  from {
    top: 369px; }
  to {
    top: 109px; } }

.row_from_7_to_3 {
  animation-duration: 0.20s;
  animation-name: row_from_7_to_3;
  animation-fill-mode: forwards; }

@keyframes row_from_7_to_3 {
  from {
    top: 369px; }
  to {
    top: 161px; } }

.row_from_7_to_4 {
  animation-duration: 0.20s;
  animation-name: row_from_7_to_4;
  animation-fill-mode: forwards; }

@keyframes row_from_7_to_4 {
  from {
    top: 369px; }
  to {
    top: 213px; } }

.row_from_7_to_5 {
  animation-duration: 0.20s;
  animation-name: row_from_7_to_5;
  animation-fill-mode: forwards; }

@keyframes row_from_7_to_5 {
  from {
    top: 369px; }
  to {
    top: 265px; } }

.row_from_7_to_6 {
  animation-duration: 0.20s;
  animation-name: row_from_7_to_6;
  animation-fill-mode: forwards; }

@keyframes row_from_7_to_6 {
  from {
    top: 369px; }
  to {
    top: 317px; } }

.row_from_7_to_7 {
  top: 369px; }

.row_from_7_to_8 {
  animation-duration: 0.20s;
  animation-name: row_from_7_to_8;
  animation-fill-mode: forwards; }

@keyframes row_from_7_to_8 {
  from {
    top: 369px; }
  to {
    top: 421px; } }

.row_from_7_to_9 {
  animation-duration: 0.20s;
  animation-name: row_from_7_to_9;
  animation-fill-mode: forwards; }

@keyframes row_from_7_to_9 {
  from {
    top: 369px; }
  to {
    top: 473px; } }

.row_from_7_to_10 {
  animation-duration: 0.20s;
  animation-name: row_from_7_to_10;
  animation-fill-mode: forwards; }

@keyframes row_from_7_to_10 {
  from {
    top: 369px; }
  to {
    top: 525px; } }

.row_from_8_to_0 {
  animation-duration: 0.20s;
  animation-name: row_from_8_to_0;
  animation-fill-mode: forwards; }

@keyframes row_from_8_to_0 {
  from {
    top: 421px; }
  to {
    top: 5px; } }

.row_from_8_to_1 {
  animation-duration: 0.20s;
  animation-name: row_from_8_to_1;
  animation-fill-mode: forwards; }

@keyframes row_from_8_to_1 {
  from {
    top: 421px; }
  to {
    top: 57px; } }

.row_from_8_to_2 {
  animation-duration: 0.20s;
  animation-name: row_from_8_to_2;
  animation-fill-mode: forwards; }

@keyframes row_from_8_to_2 {
  from {
    top: 421px; }
  to {
    top: 109px; } }

.row_from_8_to_3 {
  animation-duration: 0.20s;
  animation-name: row_from_8_to_3;
  animation-fill-mode: forwards; }

@keyframes row_from_8_to_3 {
  from {
    top: 421px; }
  to {
    top: 161px; } }

.row_from_8_to_4 {
  animation-duration: 0.20s;
  animation-name: row_from_8_to_4;
  animation-fill-mode: forwards; }

@keyframes row_from_8_to_4 {
  from {
    top: 421px; }
  to {
    top: 213px; } }

.row_from_8_to_5 {
  animation-duration: 0.20s;
  animation-name: row_from_8_to_5;
  animation-fill-mode: forwards; }

@keyframes row_from_8_to_5 {
  from {
    top: 421px; }
  to {
    top: 265px; } }

.row_from_8_to_6 {
  animation-duration: 0.20s;
  animation-name: row_from_8_to_6;
  animation-fill-mode: forwards; }

@keyframes row_from_8_to_6 {
  from {
    top: 421px; }
  to {
    top: 317px; } }

.row_from_8_to_7 {
  animation-duration: 0.20s;
  animation-name: row_from_8_to_7;
  animation-fill-mode: forwards; }

@keyframes row_from_8_to_7 {
  from {
    top: 421px; }
  to {
    top: 369px; } }

.row_from_8_to_8 {
  top: 421px; }

.row_from_8_to_9 {
  animation-duration: 0.20s;
  animation-name: row_from_8_to_9;
  animation-fill-mode: forwards; }

@keyframes row_from_8_to_9 {
  from {
    top: 421px; }
  to {
    top: 473px; } }

.row_from_8_to_10 {
  animation-duration: 0.20s;
  animation-name: row_from_8_to_10;
  animation-fill-mode: forwards; }

@keyframes row_from_8_to_10 {
  from {
    top: 421px; }
  to {
    top: 525px; } }

.row_from_9_to_0 {
  animation-duration: 0.20s;
  animation-name: row_from_9_to_0;
  animation-fill-mode: forwards; }

@keyframes row_from_9_to_0 {
  from {
    top: 473px; }
  to {
    top: 5px; } }

.row_from_9_to_1 {
  animation-duration: 0.20s;
  animation-name: row_from_9_to_1;
  animation-fill-mode: forwards; }

@keyframes row_from_9_to_1 {
  from {
    top: 473px; }
  to {
    top: 57px; } }

.row_from_9_to_2 {
  animation-duration: 0.20s;
  animation-name: row_from_9_to_2;
  animation-fill-mode: forwards; }

@keyframes row_from_9_to_2 {
  from {
    top: 473px; }
  to {
    top: 109px; } }

.row_from_9_to_3 {
  animation-duration: 0.20s;
  animation-name: row_from_9_to_3;
  animation-fill-mode: forwards; }

@keyframes row_from_9_to_3 {
  from {
    top: 473px; }
  to {
    top: 161px; } }

.row_from_9_to_4 {
  animation-duration: 0.20s;
  animation-name: row_from_9_to_4;
  animation-fill-mode: forwards; }

@keyframes row_from_9_to_4 {
  from {
    top: 473px; }
  to {
    top: 213px; } }

.row_from_9_to_5 {
  animation-duration: 0.20s;
  animation-name: row_from_9_to_5;
  animation-fill-mode: forwards; }

@keyframes row_from_9_to_5 {
  from {
    top: 473px; }
  to {
    top: 265px; } }

.row_from_9_to_6 {
  animation-duration: 0.20s;
  animation-name: row_from_9_to_6;
  animation-fill-mode: forwards; }

@keyframes row_from_9_to_6 {
  from {
    top: 473px; }
  to {
    top: 317px; } }

.row_from_9_to_7 {
  animation-duration: 0.20s;
  animation-name: row_from_9_to_7;
  animation-fill-mode: forwards; }

@keyframes row_from_9_to_7 {
  from {
    top: 473px; }
  to {
    top: 369px; } }

.row_from_9_to_8 {
  animation-duration: 0.20s;
  animation-name: row_from_9_to_8;
  animation-fill-mode: forwards; }

@keyframes row_from_9_to_8 {
  from {
    top: 473px; }
  to {
    top: 421px; } }

.row_from_9_to_9 {
  top: 473px; }

.row_from_9_to_10 {
  animation-duration: 0.20s;
  animation-name: row_from_9_to_10;
  animation-fill-mode: forwards; }

@keyframes row_from_9_to_10 {
  from {
    top: 473px; }
  to {
    top: 525px; } }

.row_from_10_to_0 {
  animation-duration: 0.20s;
  animation-name: row_from_10_to_0;
  animation-fill-mode: forwards; }

@keyframes row_from_10_to_0 {
  from {
    top: 525px; }
  to {
    top: 5px; } }

.row_from_10_to_1 {
  animation-duration: 0.20s;
  animation-name: row_from_10_to_1;
  animation-fill-mode: forwards; }

@keyframes row_from_10_to_1 {
  from {
    top: 525px; }
  to {
    top: 57px; } }

.row_from_10_to_2 {
  animation-duration: 0.20s;
  animation-name: row_from_10_to_2;
  animation-fill-mode: forwards; }

@keyframes row_from_10_to_2 {
  from {
    top: 525px; }
  to {
    top: 109px; } }

.row_from_10_to_3 {
  animation-duration: 0.20s;
  animation-name: row_from_10_to_3;
  animation-fill-mode: forwards; }

@keyframes row_from_10_to_3 {
  from {
    top: 525px; }
  to {
    top: 161px; } }

.row_from_10_to_4 {
  animation-duration: 0.20s;
  animation-name: row_from_10_to_4;
  animation-fill-mode: forwards; }

@keyframes row_from_10_to_4 {
  from {
    top: 525px; }
  to {
    top: 213px; } }

.row_from_10_to_5 {
  animation-duration: 0.20s;
  animation-name: row_from_10_to_5;
  animation-fill-mode: forwards; }

@keyframes row_from_10_to_5 {
  from {
    top: 525px; }
  to {
    top: 265px; } }

.row_from_10_to_6 {
  animation-duration: 0.20s;
  animation-name: row_from_10_to_6;
  animation-fill-mode: forwards; }

@keyframes row_from_10_to_6 {
  from {
    top: 525px; }
  to {
    top: 317px; } }

.row_from_10_to_7 {
  animation-duration: 0.20s;
  animation-name: row_from_10_to_7;
  animation-fill-mode: forwards; }

@keyframes row_from_10_to_7 {
  from {
    top: 525px; }
  to {
    top: 369px; } }

.row_from_10_to_8 {
  animation-duration: 0.20s;
  animation-name: row_from_10_to_8;
  animation-fill-mode: forwards; }

@keyframes row_from_10_to_8 {
  from {
    top: 525px; }
  to {
    top: 421px; } }

.row_from_10_to_9 {
  animation-duration: 0.20s;
  animation-name: row_from_10_to_9;
  animation-fill-mode: forwards; }

@keyframes row_from_10_to_9 {
  from {
    top: 525px; }
  to {
    top: 473px; } }

.row_from_10_to_10 {
  top: 525px; }

.column_from_0_to_0 {
  left: 5px; }

.column_from_0_to_1 {
  animation-duration: 0.20s;
  animation-name: column_from_0_to_1;
  animation-fill-mode: forwards; }

@keyframes column_from_0_to_1 {
  from {
    left: 5px; }
  to {
    left: 57px; } }

.column_from_0_to_2 {
  animation-duration: 0.20s;
  animation-name: column_from_0_to_2;
  animation-fill-mode: forwards; }

@keyframes column_from_0_to_2 {
  from {
    left: 5px; }
  to {
    left: 109px; } }

.column_from_0_to_3 {
  animation-duration: 0.20s;
  animation-name: column_from_0_to_3;
  animation-fill-mode: forwards; }

@keyframes column_from_0_to_3 {
  from {
    left: 5px; }
  to {
    left: 161px; } }

.column_from_0_to_4 {
  animation-duration: 0.20s;
  animation-name: column_from_0_to_4;
  animation-fill-mode: forwards; }

@keyframes column_from_0_to_4 {
  from {
    left: 5px; }
  to {
    left: 213px; } }

.column_from_0_to_5 {
  animation-duration: 0.20s;
  animation-name: column_from_0_to_5;
  animation-fill-mode: forwards; }

@keyframes column_from_0_to_5 {
  from {
    left: 5px; }
  to {
    left: 265px; } }

.column_from_0_to_6 {
  animation-duration: 0.20s;
  animation-name: column_from_0_to_6;
  animation-fill-mode: forwards; }

@keyframes column_from_0_to_6 {
  from {
    left: 5px; }
  to {
    left: 317px; } }

.column_from_0_to_7 {
  animation-duration: 0.20s;
  animation-name: column_from_0_to_7;
  animation-fill-mode: forwards; }

@keyframes column_from_0_to_7 {
  from {
    left: 5px; }
  to {
    left: 369px; } }

.column_from_0_to_8 {
  animation-duration: 0.20s;
  animation-name: column_from_0_to_8;
  animation-fill-mode: forwards; }

@keyframes column_from_0_to_8 {
  from {
    left: 5px; }
  to {
    left: 421px; } }

.column_from_0_to_9 {
  animation-duration: 0.20s;
  animation-name: column_from_0_to_9;
  animation-fill-mode: forwards; }

@keyframes column_from_0_to_9 {
  from {
    left: 5px; }
  to {
    left: 473px; } }

.column_from_0_to_10 {
  animation-duration: 0.20s;
  animation-name: column_from_0_to_10;
  animation-fill-mode: forwards; }

@keyframes column_from_0_to_10 {
  from {
    left: 5px; }
  to {
    left: 525px; } }

.column_from_1_to_0 {
  animation-duration: 0.20s;
  animation-name: column_from_1_to_0;
  animation-fill-mode: forwards; }

@keyframes column_from_1_to_0 {
  from {
    left: 57px; }
  to {
    left: 5px; } }

.column_from_1_to_1 {
  left: 57px; }

.column_from_1_to_2 {
  animation-duration: 0.20s;
  animation-name: column_from_1_to_2;
  animation-fill-mode: forwards; }

@keyframes column_from_1_to_2 {
  from {
    left: 57px; }
  to {
    left: 109px; } }

.column_from_1_to_3 {
  animation-duration: 0.20s;
  animation-name: column_from_1_to_3;
  animation-fill-mode: forwards; }

@keyframes column_from_1_to_3 {
  from {
    left: 57px; }
  to {
    left: 161px; } }

.column_from_1_to_4 {
  animation-duration: 0.20s;
  animation-name: column_from_1_to_4;
  animation-fill-mode: forwards; }

@keyframes column_from_1_to_4 {
  from {
    left: 57px; }
  to {
    left: 213px; } }

.column_from_1_to_5 {
  animation-duration: 0.20s;
  animation-name: column_from_1_to_5;
  animation-fill-mode: forwards; }

@keyframes column_from_1_to_5 {
  from {
    left: 57px; }
  to {
    left: 265px; } }

.column_from_1_to_6 {
  animation-duration: 0.20s;
  animation-name: column_from_1_to_6;
  animation-fill-mode: forwards; }

@keyframes column_from_1_to_6 {
  from {
    left: 57px; }
  to {
    left: 317px; } }

.column_from_1_to_7 {
  animation-duration: 0.20s;
  animation-name: column_from_1_to_7;
  animation-fill-mode: forwards; }

@keyframes column_from_1_to_7 {
  from {
    left: 57px; }
  to {
    left: 369px; } }

.column_from_1_to_8 {
  animation-duration: 0.20s;
  animation-name: column_from_1_to_8;
  animation-fill-mode: forwards; }

@keyframes column_from_1_to_8 {
  from {
    left: 57px; }
  to {
    left: 421px; } }

.column_from_1_to_9 {
  animation-duration: 0.20s;
  animation-name: column_from_1_to_9;
  animation-fill-mode: forwards; }

@keyframes column_from_1_to_9 {
  from {
    left: 57px; }
  to {
    left: 473px; } }

.column_from_1_to_10 {
  animation-duration: 0.20s;
  animation-name: column_from_1_to_10;
  animation-fill-mode: forwards; }

@keyframes column_from_1_to_10 {
  from {
    left: 57px; }
  to {
    left: 525px; } }

.column_from_2_to_0 {
  animation-duration: 0.20s;
  animation-name: column_from_2_to_0;
  animation-fill-mode: forwards; }

@keyframes column_from_2_to_0 {
  from {
    left: 109px; }
  to {
    left: 5px; } }

.column_from_2_to_1 {
  animation-duration: 0.20s;
  animation-name: column_from_2_to_1;
  animation-fill-mode: forwards; }

@keyframes column_from_2_to_1 {
  from {
    left: 109px; }
  to {
    left: 57px; } }

.column_from_2_to_2 {
  left: 109px; }

.column_from_2_to_3 {
  animation-duration: 0.20s;
  animation-name: column_from_2_to_3;
  animation-fill-mode: forwards; }

@keyframes column_from_2_to_3 {
  from {
    left: 109px; }
  to {
    left: 161px; } }

.column_from_2_to_4 {
  animation-duration: 0.20s;
  animation-name: column_from_2_to_4;
  animation-fill-mode: forwards; }

@keyframes column_from_2_to_4 {
  from {
    left: 109px; }
  to {
    left: 213px; } }

.column_from_2_to_5 {
  animation-duration: 0.20s;
  animation-name: column_from_2_to_5;
  animation-fill-mode: forwards; }

@keyframes column_from_2_to_5 {
  from {
    left: 109px; }
  to {
    left: 265px; } }

.column_from_2_to_6 {
  animation-duration: 0.20s;
  animation-name: column_from_2_to_6;
  animation-fill-mode: forwards; }

@keyframes column_from_2_to_6 {
  from {
    left: 109px; }
  to {
    left: 317px; } }

.column_from_2_to_7 {
  animation-duration: 0.20s;
  animation-name: column_from_2_to_7;
  animation-fill-mode: forwards; }

@keyframes column_from_2_to_7 {
  from {
    left: 109px; }
  to {
    left: 369px; } }

.column_from_2_to_8 {
  animation-duration: 0.20s;
  animation-name: column_from_2_to_8;
  animation-fill-mode: forwards; }

@keyframes column_from_2_to_8 {
  from {
    left: 109px; }
  to {
    left: 421px; } }

.column_from_2_to_9 {
  animation-duration: 0.20s;
  animation-name: column_from_2_to_9;
  animation-fill-mode: forwards; }

@keyframes column_from_2_to_9 {
  from {
    left: 109px; }
  to {
    left: 473px; } }

.column_from_2_to_10 {
  animation-duration: 0.20s;
  animation-name: column_from_2_to_10;
  animation-fill-mode: forwards; }

@keyframes column_from_2_to_10 {
  from {
    left: 109px; }
  to {
    left: 525px; } }

.column_from_3_to_0 {
  animation-duration: 0.20s;
  animation-name: column_from_3_to_0;
  animation-fill-mode: forwards; }

@keyframes column_from_3_to_0 {
  from {
    left: 161px; }
  to {
    left: 5px; } }

.column_from_3_to_1 {
  animation-duration: 0.20s;
  animation-name: column_from_3_to_1;
  animation-fill-mode: forwards; }

@keyframes column_from_3_to_1 {
  from {
    left: 161px; }
  to {
    left: 57px; } }

.column_from_3_to_2 {
  animation-duration: 0.20s;
  animation-name: column_from_3_to_2;
  animation-fill-mode: forwards; }

@keyframes column_from_3_to_2 {
  from {
    left: 161px; }
  to {
    left: 109px; } }

.column_from_3_to_3 {
  left: 161px; }

.column_from_3_to_4 {
  animation-duration: 0.20s;
  animation-name: column_from_3_to_4;
  animation-fill-mode: forwards; }

@keyframes column_from_3_to_4 {
  from {
    left: 161px; }
  to {
    left: 213px; } }

.column_from_3_to_5 {
  animation-duration: 0.20s;
  animation-name: column_from_3_to_5;
  animation-fill-mode: forwards; }

@keyframes column_from_3_to_5 {
  from {
    left: 161px; }
  to {
    left: 265px; } }

.column_from_3_to_6 {
  animation-duration: 0.20s;
  animation-name: column_from_3_to_6;
  animation-fill-mode: forwards; }

@keyframes column_from_3_to_6 {
  from {
    left: 161px; }
  to {
    left: 317px; } }

.column_from_3_to_7 {
  animation-duration: 0.20s;
  animation-name: column_from_3_to_7;
  animation-fill-mode: forwards; }

@keyframes column_from_3_to_7 {
  from {
    left: 161px; }
  to {
    left: 369px; } }

.column_from_3_to_8 {
  animation-duration: 0.20s;
  animation-name: column_from_3_to_8;
  animation-fill-mode: forwards; }

@keyframes column_from_3_to_8 {
  from {
    left: 161px; }
  to {
    left: 421px; } }

.column_from_3_to_9 {
  animation-duration: 0.20s;
  animation-name: column_from_3_to_9;
  animation-fill-mode: forwards; }

@keyframes column_from_3_to_9 {
  from {
    left: 161px; }
  to {
    left: 473px; } }

.column_from_3_to_10 {
  animation-duration: 0.20s;
  animation-name: column_from_3_to_10;
  animation-fill-mode: forwards; }

@keyframes column_from_3_to_10 {
  from {
    left: 161px; }
  to {
    left: 525px; } }

.column_from_4_to_0 {
  animation-duration: 0.20s;
  animation-name: column_from_4_to_0;
  animation-fill-mode: forwards; }

@keyframes column_from_4_to_0 {
  from {
    left: 213px; }
  to {
    left: 5px; } }

.column_from_4_to_1 {
  animation-duration: 0.20s;
  animation-name: column_from_4_to_1;
  animation-fill-mode: forwards; }

@keyframes column_from_4_to_1 {
  from {
    left: 213px; }
  to {
    left: 57px; } }

.column_from_4_to_2 {
  animation-duration: 0.20s;
  animation-name: column_from_4_to_2;
  animation-fill-mode: forwards; }

@keyframes column_from_4_to_2 {
  from {
    left: 213px; }
  to {
    left: 109px; } }

.column_from_4_to_3 {
  animation-duration: 0.20s;
  animation-name: column_from_4_to_3;
  animation-fill-mode: forwards; }

@keyframes column_from_4_to_3 {
  from {
    left: 213px; }
  to {
    left: 161px; } }

.column_from_4_to_4 {
  left: 213px; }

.column_from_4_to_5 {
  animation-duration: 0.20s;
  animation-name: column_from_4_to_5;
  animation-fill-mode: forwards; }

@keyframes column_from_4_to_5 {
  from {
    left: 213px; }
  to {
    left: 265px; } }

.column_from_4_to_6 {
  animation-duration: 0.20s;
  animation-name: column_from_4_to_6;
  animation-fill-mode: forwards; }

@keyframes column_from_4_to_6 {
  from {
    left: 213px; }
  to {
    left: 317px; } }

.column_from_4_to_7 {
  animation-duration: 0.20s;
  animation-name: column_from_4_to_7;
  animation-fill-mode: forwards; }

@keyframes column_from_4_to_7 {
  from {
    left: 213px; }
  to {
    left: 369px; } }

.column_from_4_to_8 {
  animation-duration: 0.20s;
  animation-name: column_from_4_to_8;
  animation-fill-mode: forwards; }

@keyframes column_from_4_to_8 {
  from {
    left: 213px; }
  to {
    left: 421px; } }

.column_from_4_to_9 {
  animation-duration: 0.20s;
  animation-name: column_from_4_to_9;
  animation-fill-mode: forwards; }

@keyframes column_from_4_to_9 {
  from {
    left: 213px; }
  to {
    left: 473px; } }

.column_from_4_to_10 {
  animation-duration: 0.20s;
  animation-name: column_from_4_to_10;
  animation-fill-mode: forwards; }

@keyframes column_from_4_to_10 {
  from {
    left: 213px; }
  to {
    left: 525px; } }

.column_from_5_to_0 {
  animation-duration: 0.20s;
  animation-name: column_from_5_to_0;
  animation-fill-mode: forwards; }

@keyframes column_from_5_to_0 {
  from {
    left: 265px; }
  to {
    left: 5px; } }

.column_from_5_to_1 {
  animation-duration: 0.20s;
  animation-name: column_from_5_to_1;
  animation-fill-mode: forwards; }

@keyframes column_from_5_to_1 {
  from {
    left: 265px; }
  to {
    left: 57px; } }

.column_from_5_to_2 {
  animation-duration: 0.20s;
  animation-name: column_from_5_to_2;
  animation-fill-mode: forwards; }

@keyframes column_from_5_to_2 {
  from {
    left: 265px; }
  to {
    left: 109px; } }

.column_from_5_to_3 {
  animation-duration: 0.20s;
  animation-name: column_from_5_to_3;
  animation-fill-mode: forwards; }

@keyframes column_from_5_to_3 {
  from {
    left: 265px; }
  to {
    left: 161px; } }

.column_from_5_to_4 {
  animation-duration: 0.20s;
  animation-name: column_from_5_to_4;
  animation-fill-mode: forwards; }

@keyframes column_from_5_to_4 {
  from {
    left: 265px; }
  to {
    left: 213px; } }

.column_from_5_to_5 {
  left: 265px; }

.column_from_5_to_6 {
  animation-duration: 0.20s;
  animation-name: column_from_5_to_6;
  animation-fill-mode: forwards; }

@keyframes column_from_5_to_6 {
  from {
    left: 265px; }
  to {
    left: 317px; } }

.column_from_5_to_7 {
  animation-duration: 0.20s;
  animation-name: column_from_5_to_7;
  animation-fill-mode: forwards; }

@keyframes column_from_5_to_7 {
  from {
    left: 265px; }
  to {
    left: 369px; } }

.column_from_5_to_8 {
  animation-duration: 0.20s;
  animation-name: column_from_5_to_8;
  animation-fill-mode: forwards; }

@keyframes column_from_5_to_8 {
  from {
    left: 265px; }
  to {
    left: 421px; } }

.column_from_5_to_9 {
  animation-duration: 0.20s;
  animation-name: column_from_5_to_9;
  animation-fill-mode: forwards; }

@keyframes column_from_5_to_9 {
  from {
    left: 265px; }
  to {
    left: 473px; } }

.column_from_5_to_10 {
  animation-duration: 0.20s;
  animation-name: column_from_5_to_10;
  animation-fill-mode: forwards; }

@keyframes column_from_5_to_10 {
  from {
    left: 265px; }
  to {
    left: 525px; } }

.column_from_6_to_0 {
  animation-duration: 0.20s;
  animation-name: column_from_6_to_0;
  animation-fill-mode: forwards; }

@keyframes column_from_6_to_0 {
  from {
    left: 317px; }
  to {
    left: 5px; } }

.column_from_6_to_1 {
  animation-duration: 0.20s;
  animation-name: column_from_6_to_1;
  animation-fill-mode: forwards; }

@keyframes column_from_6_to_1 {
  from {
    left: 317px; }
  to {
    left: 57px; } }

.column_from_6_to_2 {
  animation-duration: 0.20s;
  animation-name: column_from_6_to_2;
  animation-fill-mode: forwards; }

@keyframes column_from_6_to_2 {
  from {
    left: 317px; }
  to {
    left: 109px; } }

.column_from_6_to_3 {
  animation-duration: 0.20s;
  animation-name: column_from_6_to_3;
  animation-fill-mode: forwards; }

@keyframes column_from_6_to_3 {
  from {
    left: 317px; }
  to {
    left: 161px; } }

.column_from_6_to_4 {
  animation-duration: 0.20s;
  animation-name: column_from_6_to_4;
  animation-fill-mode: forwards; }

@keyframes column_from_6_to_4 {
  from {
    left: 317px; }
  to {
    left: 213px; } }

.column_from_6_to_5 {
  animation-duration: 0.20s;
  animation-name: column_from_6_to_5;
  animation-fill-mode: forwards; }

@keyframes column_from_6_to_5 {
  from {
    left: 317px; }
  to {
    left: 265px; } }

.column_from_6_to_6 {
  left: 317px; }

.column_from_6_to_7 {
  animation-duration: 0.20s;
  animation-name: column_from_6_to_7;
  animation-fill-mode: forwards; }

@keyframes column_from_6_to_7 {
  from {
    left: 317px; }
  to {
    left: 369px; } }

.column_from_6_to_8 {
  animation-duration: 0.20s;
  animation-name: column_from_6_to_8;
  animation-fill-mode: forwards; }

@keyframes column_from_6_to_8 {
  from {
    left: 317px; }
  to {
    left: 421px; } }

.column_from_6_to_9 {
  animation-duration: 0.20s;
  animation-name: column_from_6_to_9;
  animation-fill-mode: forwards; }

@keyframes column_from_6_to_9 {
  from {
    left: 317px; }
  to {
    left: 473px; } }

.column_from_6_to_10 {
  animation-duration: 0.20s;
  animation-name: column_from_6_to_10;
  animation-fill-mode: forwards; }

@keyframes column_from_6_to_10 {
  from {
    left: 317px; }
  to {
    left: 525px; } }

.column_from_7_to_0 {
  animation-duration: 0.20s;
  animation-name: column_from_7_to_0;
  animation-fill-mode: forwards; }

@keyframes column_from_7_to_0 {
  from {
    left: 369px; }
  to {
    left: 5px; } }

.column_from_7_to_1 {
  animation-duration: 0.20s;
  animation-name: column_from_7_to_1;
  animation-fill-mode: forwards; }

@keyframes column_from_7_to_1 {
  from {
    left: 369px; }
  to {
    left: 57px; } }

.column_from_7_to_2 {
  animation-duration: 0.20s;
  animation-name: column_from_7_to_2;
  animation-fill-mode: forwards; }

@keyframes column_from_7_to_2 {
  from {
    left: 369px; }
  to {
    left: 109px; } }

.column_from_7_to_3 {
  animation-duration: 0.20s;
  animation-name: column_from_7_to_3;
  animation-fill-mode: forwards; }

@keyframes column_from_7_to_3 {
  from {
    left: 369px; }
  to {
    left: 161px; } }

.column_from_7_to_4 {
  animation-duration: 0.20s;
  animation-name: column_from_7_to_4;
  animation-fill-mode: forwards; }

@keyframes column_from_7_to_4 {
  from {
    left: 369px; }
  to {
    left: 213px; } }

.column_from_7_to_5 {
  animation-duration: 0.20s;
  animation-name: column_from_7_to_5;
  animation-fill-mode: forwards; }

@keyframes column_from_7_to_5 {
  from {
    left: 369px; }
  to {
    left: 265px; } }

.column_from_7_to_6 {
  animation-duration: 0.20s;
  animation-name: column_from_7_to_6;
  animation-fill-mode: forwards; }

@keyframes column_from_7_to_6 {
  from {
    left: 369px; }
  to {
    left: 317px; } }

.column_from_7_to_7 {
  left: 369px; }

.column_from_7_to_8 {
  animation-duration: 0.20s;
  animation-name: column_from_7_to_8;
  animation-fill-mode: forwards; }

@keyframes column_from_7_to_8 {
  from {
    left: 369px; }
  to {
    left: 421px; } }

.column_from_7_to_9 {
  animation-duration: 0.20s;
  animation-name: column_from_7_to_9;
  animation-fill-mode: forwards; }

@keyframes column_from_7_to_9 {
  from {
    left: 369px; }
  to {
    left: 473px; } }

.column_from_7_to_10 {
  animation-duration: 0.20s;
  animation-name: column_from_7_to_10;
  animation-fill-mode: forwards; }

@keyframes column_from_7_to_10 {
  from {
    left: 369px; }
  to {
    left: 525px; } }

.column_from_8_to_0 {
  animation-duration: 0.20s;
  animation-name: column_from_8_to_0;
  animation-fill-mode: forwards; }

@keyframes column_from_8_to_0 {
  from {
    left: 421px; }
  to {
    left: 5px; } }

.column_from_8_to_1 {
  animation-duration: 0.20s;
  animation-name: column_from_8_to_1;
  animation-fill-mode: forwards; }

@keyframes column_from_8_to_1 {
  from {
    left: 421px; }
  to {
    left: 57px; } }

.column_from_8_to_2 {
  animation-duration: 0.20s;
  animation-name: column_from_8_to_2;
  animation-fill-mode: forwards; }

@keyframes column_from_8_to_2 {
  from {
    left: 421px; }
  to {
    left: 109px; } }

.column_from_8_to_3 {
  animation-duration: 0.20s;
  animation-name: column_from_8_to_3;
  animation-fill-mode: forwards; }

@keyframes column_from_8_to_3 {
  from {
    left: 421px; }
  to {
    left: 161px; } }

.column_from_8_to_4 {
  animation-duration: 0.20s;
  animation-name: column_from_8_to_4;
  animation-fill-mode: forwards; }

@keyframes column_from_8_to_4 {
  from {
    left: 421px; }
  to {
    left: 213px; } }

.column_from_8_to_5 {
  animation-duration: 0.20s;
  animation-name: column_from_8_to_5;
  animation-fill-mode: forwards; }

@keyframes column_from_8_to_5 {
  from {
    left: 421px; }
  to {
    left: 265px; } }

.column_from_8_to_6 {
  animation-duration: 0.20s;
  animation-name: column_from_8_to_6;
  animation-fill-mode: forwards; }

@keyframes column_from_8_to_6 {
  from {
    left: 421px; }
  to {
    left: 317px; } }

.column_from_8_to_7 {
  animation-duration: 0.20s;
  animation-name: column_from_8_to_7;
  animation-fill-mode: forwards; }

@keyframes column_from_8_to_7 {
  from {
    left: 421px; }
  to {
    left: 369px; } }

.column_from_8_to_8 {
  left: 421px; }

.column_from_8_to_9 {
  animation-duration: 0.20s;
  animation-name: column_from_8_to_9;
  animation-fill-mode: forwards; }

@keyframes column_from_8_to_9 {
  from {
    left: 421px; }
  to {
    left: 473px; } }

.column_from_8_to_10 {
  animation-duration: 0.20s;
  animation-name: column_from_8_to_10;
  animation-fill-mode: forwards; }

@keyframes column_from_8_to_10 {
  from {
    left: 421px; }
  to {
    left: 525px; } }

.column_from_9_to_0 {
  animation-duration: 0.20s;
  animation-name: column_from_9_to_0;
  animation-fill-mode: forwards; }

@keyframes column_from_9_to_0 {
  from {
    left: 473px; }
  to {
    left: 5px; } }

.column_from_9_to_1 {
  animation-duration: 0.20s;
  animation-name: column_from_9_to_1;
  animation-fill-mode: forwards; }

@keyframes column_from_9_to_1 {
  from {
    left: 473px; }
  to {
    left: 57px; } }

.column_from_9_to_2 {
  animation-duration: 0.20s;
  animation-name: column_from_9_to_2;
  animation-fill-mode: forwards; }

@keyframes column_from_9_to_2 {
  from {
    left: 473px; }
  to {
    left: 109px; } }

.column_from_9_to_3 {
  animation-duration: 0.20s;
  animation-name: column_from_9_to_3;
  animation-fill-mode: forwards; }

@keyframes column_from_9_to_3 {
  from {
    left: 473px; }
  to {
    left: 161px; } }

.column_from_9_to_4 {
  animation-duration: 0.20s;
  animation-name: column_from_9_to_4;
  animation-fill-mode: forwards; }

@keyframes column_from_9_to_4 {
  from {
    left: 473px; }
  to {
    left: 213px; } }

.column_from_9_to_5 {
  animation-duration: 0.20s;
  animation-name: column_from_9_to_5;
  animation-fill-mode: forwards; }

@keyframes column_from_9_to_5 {
  from {
    left: 473px; }
  to {
    left: 265px; } }

.column_from_9_to_6 {
  animation-duration: 0.20s;
  animation-name: column_from_9_to_6;
  animation-fill-mode: forwards; }

@keyframes column_from_9_to_6 {
  from {
    left: 473px; }
  to {
    left: 317px; } }

.column_from_9_to_7 {
  animation-duration: 0.20s;
  animation-name: column_from_9_to_7;
  animation-fill-mode: forwards; }

@keyframes column_from_9_to_7 {
  from {
    left: 473px; }
  to {
    left: 369px; } }

.column_from_9_to_8 {
  animation-duration: 0.20s;
  animation-name: column_from_9_to_8;
  animation-fill-mode: forwards; }

@keyframes column_from_9_to_8 {
  from {
    left: 473px; }
  to {
    left: 421px; } }

.column_from_9_to_9 {
  left: 473px; }

.column_from_9_to_10 {
  animation-duration: 0.20s;
  animation-name: column_from_9_to_10;
  animation-fill-mode: forwards; }

@keyframes column_from_9_to_10 {
  from {
    left: 473px; }
  to {
    left: 525px; } }

.column_from_10_to_0 {
  animation-duration: 0.20s;
  animation-name: column_from_10_to_0;
  animation-fill-mode: forwards; }

@keyframes column_from_10_to_0 {
  from {
    left: 525px; }
  to {
    left: 5px; } }

.column_from_10_to_1 {
  animation-duration: 0.20s;
  animation-name: column_from_10_to_1;
  animation-fill-mode: forwards; }

@keyframes column_from_10_to_1 {
  from {
    left: 525px; }
  to {
    left: 57px; } }

.column_from_10_to_2 {
  animation-duration: 0.20s;
  animation-name: column_from_10_to_2;
  animation-fill-mode: forwards; }

@keyframes column_from_10_to_2 {
  from {
    left: 525px; }
  to {
    left: 109px; } }

.column_from_10_to_3 {
  animation-duration: 0.20s;
  animation-name: column_from_10_to_3;
  animation-fill-mode: forwards; }

@keyframes column_from_10_to_3 {
  from {
    left: 525px; }
  to {
    left: 161px; } }

.column_from_10_to_4 {
  animation-duration: 0.20s;
  animation-name: column_from_10_to_4;
  animation-fill-mode: forwards; }

@keyframes column_from_10_to_4 {
  from {
    left: 525px; }
  to {
    left: 213px; } }

.column_from_10_to_5 {
  animation-duration: 0.20s;
  animation-name: column_from_10_to_5;
  animation-fill-mode: forwards; }

@keyframes column_from_10_to_5 {
  from {
    left: 525px; }
  to {
    left: 265px; } }

.column_from_10_to_6 {
  animation-duration: 0.20s;
  animation-name: column_from_10_to_6;
  animation-fill-mode: forwards; }

@keyframes column_from_10_to_6 {
  from {
    left: 525px; }
  to {
    left: 317px; } }

.column_from_10_to_7 {
  animation-duration: 0.20s;
  animation-name: column_from_10_to_7;
  animation-fill-mode: forwards; }

@keyframes column_from_10_to_7 {
  from {
    left: 525px; }
  to {
    left: 369px; } }

.column_from_10_to_8 {
  animation-duration: 0.20s;
  animation-name: column_from_10_to_8;
  animation-fill-mode: forwards; }

@keyframes column_from_10_to_8 {
  from {
    left: 525px; }
  to {
    left: 421px; } }

.column_from_10_to_9 {
  animation-duration: 0.20s;
  animation-name: column_from_10_to_9;
  animation-fill-mode: forwards; }

@keyframes column_from_10_to_9 {
  from {
    left: 525px; }
  to {
    left: 473px; } }

.column_from_10_to_10 {
  left: 525px; }

.board .cell, .tile, #boardDiv {
  user-select: none;
  cursor: default; }

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-family: "Clear Sans", sans-serif;
  font-size: 21px; }

.board {
  padding: 5px;
  background-color: #baa;
  border-radius: 7px;
  position: relative; }

.cell, .wild-card {
  width: 50px;
  height: 50px;
  margin: 1px;
  line-height: 50px;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  border-radius: 2px;
  font-family: "Clear Sans";
  color: #413434;
  background-color: #dcb; }

.selectable {
  background-color: #f69191; }

.agent {
  background-color: #b4f691 !important;
  pointer-events: none; }

.hid {
  color: #fff0; }

.invisible {
  display: none; }

.wild-card {
  background-color: #669dd4;
  position: absolute; }

.score-container {
  position: relative;
  display: inline-block;
  background: #bbada0;
  width: 60px;
  border-radius: 3px;
  color: white;
  text-align: center; }
  .score-container:after {
    position: absolute;
    width: 100%;
    top: 10px;
    left: 0;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 13px;
    text-align: center;
    color: #eee4da; }
  .score-container .score-addition {
    position: absolute;
    right: 30px;
    color: red;
    font-size: 25px;
    line-height: 25px;
    font-weight: bold;
    color: rgba(119, 110, 101, 0.9);
    z-index: 100;
    /*@include animation(move-up 600ms ease-in);
    @include animation-fill-mode(both);*/ }

.scores-container {
  margin-top: 8px;
  text-align: left; }

.player-name, .player-score {
  display: block; }

.player-score {
  font-weight: bold; }

.buttons-container {
  text-align: left;
  margin-bottom: 8px; }

.overlay {
  position: absolute;
  top: 0px;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  left: 0px;
  right: 0px;
  font-size: 35px;
  font-weight: bolder;
  background-color: rgba(221, 221, 221, 0.5);
  border-radius: 7px; }

.overlay .message {
  color: #666; }

.tryAgain {
  background-color: #876;
  color: #fff;
  height: 40px;
  width: 100px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  border-radius: 5px; }

