@import './variables';

.blog {
  background: $color-black;
}

.blog-block {
  height: 480px;
  position: relative;
}

.blog-img {
  background-size: 100% 100%;
  height: 100%;
  max-width: 100%;
}

.blog-des {
  bottom: 30px;
  color: $color-white;
  font-family: BrandonBold;
  max-width: calc(100% - 30px);
  padding: 10px;
  position: absolute;
  text-transform: uppercase;
  word-wrap: break-word;

  h3 {
    word-wrap: break-word;
  }
}

.b-title {
  color: $primary-color-blue;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 5px;
  position: relative;

  &:after {
    background-color: $primary-color-blue;
    bottom: 0;
    content: '';
    height: 1px;
    left: 0;
    position: absolute;
    right: -40px;
  }
}


.single-blog {
  background: url('../images/bg1.jpg') center no-repeat;
  background-size: cover;
  color: $secondary-color-blue;
}

.single-blog-img {
  background-size: 100% !important;
  height: 250px;
}

.left-side {
  background-color: $primary-color-blue;
}

.single-blog-title {
  font-family: BrandonBold;
  text-transform: uppercase;
}

.right-side {
  background-color: $color-white;
}

.sblog-title {
  bottom: 35px;
  color: $color-white;
  font-family: BrandonBold;
  padding: 0 35px;
  position: absolute;
  text-transform: uppercase;

  .b-title {
    color: $secondary-color-gray;

    &:after {
      background-color: $secondary-color-gray;
    }
  }

  h3 {
    font-size: 1.5rem;
  }
}

@media (max-width: 991px) {
  .blog-block {
    margin-bottom: 15px;

    &:last-child {
      height: 230px;

      .blog-des {
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
        width: 50%;
      }
    }
  }

  .blog-img {
    background-size: 100% !important;
  }

  .left-side {
    display: none !important;
  }

  .sblog-title>div {
    text-align: center;
  }

  .sblog-title {
    align-items: center;
    bottom: auto;
    display: flex;
    justify-content: center;
    top: 50px;

    .b-title {
      color: $primary-color-blue;

      &:after {
        background-color: $primary-color-blue;
        bottom: -3px;
        left: -40px;
        right: -40px;
      }
    }
  }

  .single-blog-img {
    background-size: 100% 100% !important;
  }
}

@media (max-width: 767px) {
  .sblog-title {
    bottom: auto;
    height: 250px;
    top: 0;
  }

  .single-blog-img {
    background-size: 100% !important;
  }

  .blog-block,
  .blog-block {
    &:last-child {
      height: 300px;
    }
  }

  .handel-sm {
    margin: auto;
    width: 250px;
  }
}

@media (max-width: 676px) {
  .blog-content {
    margin: 0 -45px;
  }

  .blog-block {
    margin-bottom: 0;
  }

  .blog-des,
  .blog-block {
    &:last-child {
      .blog-des {
        bottom: 50%;
        left: 50%;
        text-align: center;
        top: auto;
        transform: translate(-50%, 50%);
        width: 60%;
      }
    }
  }

  .b-title {
    margin-bottom: 15px;

    &:after {
      left: -20px;
      right: -20px;
    }
  }
}
