@import './variables';

.header {
  .logo {
    color: $primary-color-green;
    font-family: BrandonBlack;
    font-size: 36px;

    &.white {
      color: $color-white;
    }
  }

  nav {
    font-family: BrandonBold;
    font-size: 16px;
    padding-right: 0;
    position: relative;

    &inverse {
      .nav-border {
        background-color: $secondary-color-blue;
      }

      .nav-link {
        color: $secondary-color-blue;
      }

      .nav-item {
        &.active {
          .nav-link {
            color: $primary-color-blue;
          }
        }
      }

      &:after {
        background-color: $secondary-color-blue;
      }
    }
  }

  .nav-border {
    background: $color-white;
    bottom: 15px;
    content: '';
    height: 1px;
    left: 0;
    position: absolute;
    right: 0;
  }

  .nav-item {
    padding: 1rem 1.5rem;

    &:last-child {

      padding-right: 0;
    }

    &.active {
      .nav-link {
        color: $primary-color-green;
      }
    }
  }

  .nav-link {
    color: $color-white;
    text-transform: uppercase;
  }

}

.header-cont {
  align-items: center;
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
}

@media (max-width: 991px) {
  .header {
    .nav-border {
      display: none;
    }
  }
}

@media (max-width: 575px) {

  .navbar-toggler,
  .navbar-toggler {
    &.collapsed {
      position: absolute;
      right: -12px;
      top: 0;
      z-index: 200;
    }
  }

  .navbar-collapse {
    background: $primary-color-blue;
    min-height: 90vh;
    padding-top: 70px;
    position: absolute;
    right: -36px;
    top: -24px;
    width: 70vw;
    z-index: 100;
  }

  .navbar-nav {
    padding-left: 80px;

    &:after {
      background-color: $secondary-color-gray;
      content: '';
      height: 70%;
      left: 40px;
      position: absolute;
      width: 1px;
    }

    li {
      padding-left: 0 !important;
      position: relative;

      &:after {
        background-color: $secondary-color-gray;
        content: '';
        height: 1px;
        left: -39px;
        position: absolute;
        top: 32px;
        width: 20px;
      }
    }
  }

  .header {
    margin-bottom: 50px;

    nav {
      position: absolute;
      right: 0;

      &.inverse {
        .nav-link {
          color: $color-white;
        }

        .nav-item {
          &.active {
            .nav-link {
              color: $primary-color-green;

            }
          }
        }
      }
    }

    .nav-link {
      color: $color-white;
    }

    .logo {
      margin-left: 50%;
      margin-top: 12px;
      position: absolute;
      transform: translateX(-50%);
      z-index: 400;
    }

  }

  .header-cont {
    margin-top: 22px;
    position: relative;
  }
}

@media (max-width: 550px) {
  .navbar-collapse {
    width: 85vw;
  }
}
