@import './variables';

.container {
  position: relative;
  z-index: 10;
}

.water-mark {
  color: $color-gray;
  font-family: BrandonBlack;
  font-size: 13rem;
  opacity: .06;
  position: absolute;
  text-transform: uppercase;
  width: 100%;
  z-index: 1;
}

.resume,
.about {
  .water-mark {
    bottom: -20px;
    padding-right: 120px;
  }
}

.blog,
.single-blog,
.home {
  .water-mark {
    bottom: 20px;
    color: $color-white;
    padding-left: 30px;
    padding-right: 0;
  }
}

.home {
  .water-mark {
    bottom: 100px;
    line-height: 12rem;
    padding-left: 200px;
  }
}

.single-blog {
  .water-mark {
    z-index: 11;
  }
}

.contact {
  .water-mark {
    bottom: 28%;
    color: $color-white;
  }
}