.container {
  position: relative;
  z-index: 10
}

.water-mark {
  color: #333;
  text-transform: uppercase;
  font-size: 13rem;
  font-family: BrandonBlack;
  opacity: 0.06;
  position: absolute;
  z-index: 1;
  width: 100%;
}

.About .water-mark,
.Resume .water-mark {
  bottom: -20px;
  padding-right: 120px;
}

.Blog .water-mark,
.singleBlog .water-mark,
.home .water-mark {
  bottom: 20px;
  padding-right: 0;
  padding-left: 30px;
  color: #fff;
}

.home .water-mark {
  line-height: 12rem;
  padding-left: 200px;
  bottom: 100px;
}

.singleBlog .water-mark {
  z-index: 11
}

.Contact .water-mark {
  color: #fff;
  bottom: 28%;
}